<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Hello World Java</display-name>

	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>org.hp.samples.HelloServlet</servlet-class>
	</servlet>

    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>org.hphelion.heliohelp.AddUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DbTest</servlet-name>
        <servlet-class>org.hp.samples.DbTest</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddRequest</servlet-name>
        <servlet-class>org.hphelion.heliohelp.AddRequestServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddResponse</servlet-name>
        <servlet-class>org.hphelion.heliohelp.AddResponseServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RetrieveRequest</servlet-name>
        <servlet-class>org.hphelion.heliohelp.RetrieveRequestServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RetrieveResponse</servlet-name>
        <servlet-class>org.hphelion.heliohelp.RetrieveResponseServlet</servlet-class>
    </servlet>

	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/jere</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddRequest</servlet-name>
        <url-pattern>/AddRequest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddResponse</servlet-name>
        <url-pattern>/AddResponse</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RetrieveRequest</servlet-name>
        <url-pattern>/GetRequest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RetrieveResponse</servlet-name>
        <url-pattern>/GetResponse</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DbTest</servlet-name>
        <url-pattern>/db</url-pattern>
    </servlet-mapping>

</web-app>
